@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 部品
------------------------------------------ */
.container {
  width: 91.4667vw;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 72.5rem;
  }
}

.section__title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2857;
}

/* 入学説明会に申し込む */
.apply {
  background: #FF55551A;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .apply {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.apply__text {
  font-size: 1rem;
  margin-bottom: 0.5625rem;
  margin-inline: 1.3125rem;
  line-height: 1.75;
}

.apply__button {
  display: inline-block;
  background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
  border-radius: 3.125rem;
  width: 19.0625rem;
  height: 4.3125rem;
  line-height: 4.3125rem;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all .3s;
}

.apply__button:hover {
  opacity: .5;
}

@media (min-width: 768px) {
  .apply__button {
    width: 22.5rem;
    height: 4.6875rem;
    font-size: 1.5rem;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  margin-left: 4.267vw;
}

@media (min-width: 768px) {
  .header {
    height: 6.3125rem;
    width: 60.417vw;
    margin: auto;
  }
}

.header__title {
  font-size: 1.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #005BAC;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 1.667vw;
  }
}

/* ハンバーガーボタン */
.hamburger-btn {
  width: 4.375rem;
  height: 4.375rem;
  background: #005BAC;
}

@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
}

.hamburger-btn .bi {
  color: #fff;
  font-size: 2.1875rem;
}

@media (max-width: 768px) {
  .hamburger-menu {
    z-index: 1000;
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all .3s;
    background: #005BAC;
    padding: 1.25rem 5.128vw 0;
    font-size: 4.6vw;
    line-height: 1.444;
  }

  .header__list {
    padding-bottom: 1.25rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }

  .header__list + .header__list {
    padding-top: 1.25rem;
  }

  .header__list .bi {
    padding-right: 0.75rem;
  }

  .header__btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.25rem 21.79vw;
    background: #fff;
    border-radius: 3.125rem;
  }

  .header__btn a {
    color: #005BAC;
    letter-spacing: 0;
    font-weight: bold;
  }
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .hamburger-menu {
    position: static;
    font-size: 1.0417vw;
  }

  .header__nav {
    display: flex;
    align-items: center;
    gap: 1.51vw;
  }

  .header__list a {
    color: #333;
  }

  .header__list .bi {
    display: none;
  }

  .header__btn {
    background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
    padding: .83vw 2.14vw;
    border-radius: 3.125rem;
  }
}

/* ヒーロー
------------------------------------------ */
.hero {
  position: relative;
}

.hero__image {
  width: 100%;
  height: 66.667vw;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero__image {
    height: 33.906vw;
    /* object-fit: cover; */
  }
}

.hero__announce {
  position: absolute;
  top: 2.1875rem;
  left: 4.276vw;
}

@media (min-width: 768px) {
  .hero__announce {
    top: 5.4167vw;
    left: 21.354vw;
  }
}

.hero__ranking {
  display: flex;
}

.hero__achievement {
  font-size: 0.6875rem;
  line-height: 1.4545;
}

@media (min-width: 768px) {
  .hero__achievement {
    font-size: 1.0467vw;
  }
}

.hero__achievement_no {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #F11F8D;
  font-size: 1.5625rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__achievement_no {
    font-size: 2.8125vw;
  }
}

.hero__achievement-num {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .hero__achievement-num {
    font-size: 3.854vw;
  }
}

.hero__frame {
  width: 1.5rem;
  height: 4.3125rem;
}

@media (min-width: 768px) {
  .hero__frame {
    width: 2.76vw;
    height: 7.8vw;
  }
}

.hero__text {
  font-size: 0.875rem;
  margin-top: 1.1875rem;
}

@media (min-width: 768px) {
  .hero__text {
    font-size: 1.7188vw;
  }
}

.hero__title {
  font-size: 1.5625rem;
  font-weight: 900;
  color: #005BAC;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3.125vw;
  }
}

.hero__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.75rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .hero__actions {
    flex-direction: row;
    margin-top: 1.875vw;
    gap: 2.08vw;
    transform: translateY(-50%);
    margin-top: 0;
    justify-content: center;
  }
}

.hero__button {
  width: 15.625rem;
  height: 3rem;
  background: #77CB33;
  border-radius: 3.125rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all .3s;
}

.hero__button:hover {
  opacity: .5;
}

@media (min-width: 768px) {
  .hero__button {
    width: 17.708vw;
    height: 3.906vw;
    font-size: 1.25vw;
  }
}

.hero__button_trial {
  background: #F6AA00;
}

.hero__button_request {
  background: #3AC8AD;
}

/* 3つの理由
------------------------------------------ */
.reasons {
  margin-top: 1.5rem;
}

.reasons__num {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #F11F8D;
}

.reasons__title {
  margin-bottom: 1.25rem;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .reasons__item {
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 3rem;
  }

  .reasons__second {
    flex-direction: row-reverse;
  }

  .reasons__text {
    flex: 1 1 auto;
  }
}

.reasons__image {
  margin-bottom: 0.375rem;
  height: 220px;
  width: 91.4667vw;
}

.reasons__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .reasons__image {
    max-width: 35rem;
    width: 52.08vw;
    height: 21.625rem;
    margin: 0;
    flex-shrink: 0;
  }
}

.reasons__item-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5625rem;
}

.reasons__point {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #F11F8D;
  font-size: 1.5rem;
}

.reasons__num {
  font-size: 2.25rem;
}

.reasons__description {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 2.0625rem;
}

/* コース・目的
------------------------------------------ */
.courses {
  margin-top: 4.125rem;
}

.courses .section__title {
  padding-left: 0.875rem;
}

.courses__contents {
  margin-bottom: 3.9375rem;
}

@media (min-width: 768px) {
  .courses__contents {
    margin-bottom: 4.5rem;
  }
}

.courses__nav {
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .courses__nav {
    gap: 2.1875rem;
    width: 91.4667vw;
    max-width: 72.5rem;
    margin: auto;
  }
}

.courses__tab {
  padding: 1.25rem 1.1875rem;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  background: #F0F0F0;
}

@media (min-width: 768px) {
  .courses__tab {
    width: 35rem;
    height: 4.6875rem;
    text-align: center;
  }
}

.courses__tab.current {
  background: #F2F9FF;
}

.courses__contents {
  background: #F2F9FF;
}

@media (min-width: 768px) {
  .courses__contents {
    background: none;
  }
}

.courses__tab-content {
  background: #F2F9FF;
  padding-top: 1.75rem;
  padding-bottom: 1.5625rem;
}

@media (min-width: 768px) {
  .courses__tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.1875rem;
  }
}

@media (min-width: 768px) {
  .courses .section__title {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
  }

  .courses__img {
    max-width: 532px;
    width: 43.49vw;
    height: 220px;
  }

  .courses__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.courses__tab a {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
}

.courses__content-item {
  display: flex;
  flex-direction: column;
}

.courses__content-title {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.8;
	padding-top: 1px;
	padding-bottom: 1.125rem;
	display: flex;
	align-items: center;
  transform: translateX(-0.5rem);
}

.courses__content-title .bi {
	color: #005BAC;
	margin-right: 0.1875rem;
	font-size: 1.75rem;
	font-weight: bold;
	}

/* 費用
------------------------------------------ */
.cost {
	margin-top: 4rem;
}

.cost .section__title {
  padding-left: 21px;
  letter-spacing: 0.3125em;
}

.cost__table {
	margin-top: 1.4375rem;
	margin-bottom: 3.8125rem;
	border: 0.1875rem solid #CCCCCC;
	width: 100%;
	border-collapse: collapse;
}

@media (min-width: 768px) {
	.cost__table {
		max-width: 37.125rem;
		margin: 2.1875rem auto 4.5rem;
	}
}

.cost__table-head-row {
  background: #F5F5F5;
  font-size: 1rem;
}

.cost__table-head-classes {
	padding: 1.3125rem 1rem;
}

.cost__table-head-fees {
  text-align: left;
  padding-left: 1.5625rem;
}

.cost__table-body-header {
	padding-block: 1.25rem;
	font-size: 1rem;
	border: 0.0625rem solid #CCC;
}

.cost__table-body-cell {
	color: #F23397;
	border: 0.0625rem solid #CCC;
	text-align: center;
  padding-right: 0.375rem;
}

.cost__table-amount {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 1.75rem;
}

.cost__table-body-row:last-child .cost__table-body-cell {
  padding-left: 1.375rem;
}

/* 	フッター
------------------------------------------ */
@media (min-width: 768px) {
	.footer__links {
		display: flex;
		/* justify-content: space-between; */
	}
}

.footer__faq {
	background-image: url("../images/faq.jpg");
}

.footer__find-class {
	background-image: url("../images/find-class.jpg");
}

.footer__faq,
.footer__find-class {
	background-size: cover;
  background-position:  calc(50% + 0.5rem)  center;
	height: 170px;
	display: flex;
	align-items: center;
}

@media (min-width: 768px) {
	.footer__faq,
	.footer__find-class {
		height: 16.667vw;
		width: 50%;
		justify-content: center;
	}
}

.footer__faq-title,
.footer__find-class-title {
	font-size: 1.375rem;
	font-weight: bold;
	color: #fff;
	margin-left: 4.2667vw;
}

@media (min-width: 768px) {
	.footer__faq-title,
	.footer__find-class-title {
		font-size: 1.667vw;
		margin: 0;
	}
}

.footer__copyright {
	display: block;
	background: #DDDDDD;
	text-align:center;
	padding-block: 2rem;
	font-size: 13px;
  letter-spacing: 0.025em;
  padding-left: 1.125rem;
}