@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 部品
------------------------------------------ */

/* ヘッダー
------------------------------------------ */
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .header {
    height: 101px;
    padding-inline: 19.79vw;
  }
}

.header__title {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #005BAC;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 1.67vw;
  }
}

/* ハンバーガーボタン */
.hamburger-btn {
  width: 70px;
  height: 70px;
  background: #005BAC;
}

@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
}

.hamburger-btn .bi {
  color: #fff;
  font-size: 35px;
}

@media (max-width: 768px) {
  .hamburger-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all .3s;
    background: #005BAC;
    padding: 20px 5.128vw 0;
    font-size: 4.6vw;
    line-height: 1.444;
  }

  .header__list {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .header__list + .header__list {
    padding-top: 20px;
  }

  .header__list .bi {
    padding-right: 12px;
  }

  .header__btn {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 20px 21.79vw;
    background: #fff;
    border-radius: 50px;
  }

  .header__btn a {
    color: #005BAC;
    letter-spacing: 0;
    font-weight: bold;
  }
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .hamburger-menu {
    position: static;
    /* font-size: 20px; */
    font-size: 1vw;
  }

  .header__nav {
    display: flex;
    align-items: center;
    /* gap: 29px; */
    gap: 1.51vw;
  }

  .header__list a {
    color: #333;
  }

  .header__list .bi {
    display: none;
  }

  .header__btn {
    background: linear-gradient(90deg, #0271E0 0%, #53A2F0 100%);
    padding: .83vw 2.14vw;    padding: .83vw 2.14vw;
    border-radius: 50px;
  }
}

/* ヒーロー
------------------------------------------ */
.hero {
  position: relative;
}

.hero__image {
  width: 100%;
}

.hero__announce {
  position: absolute;
  top: 35px;
}

.hero__ranking {
  display: flex;
}

.hero__achievement {
  font-size: 11px;
}

.hero__achievement-no {
  display: block;
}